# ignore jupyter notebook backup folders
.ipynb_checkpoints/
python_api/.ipynb_checkpoints/

# ignore linux background log file
nohup.out

# mac files
.DS_Store

# ms power point files
*.pptx

# model file
sample_request/image_model/mlops_aboriginal-markhor_augmentations_strategy_Soft_backbone_regnetz_d8_epochs_10_learning_rate_0.001_fold0
.Rproj.user


tmp

